* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px;
    background-color: white;
    color: black;
    line-height: 1.5;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#atom {
    font-size: 3.5rem;
    color: #E0B1CB;
}

#header {
    width: 666px;
    margin: 0 auto 12px auto;
}

h1 {
    color: white;
    background-color: #5E548E;
    font-size: 4rem;
    font-weight: 444;
    width: 666px;
    margin: auto;
    border: 10px solid #BE95C4;
    border-radius: 6px;
}

p {
    background-color: #E0B1CB;
    color: #231942;
    font-size: 2rem;
    margin: 20px 13rem;
    border: 10px solid #5E548E;
    border-radius: 6px;
}

ul {
    list-style-type: none;
    background-color: #5E548E;
    width: 666px;
    margin: auto;
    border: 10px solid #BE95C4;
    border-radius: 6px;
}

ul a {
    color: white;
    font-size: 2.5rem;
    text-decoration: none;
}

footer {
    margin-top: 20px;
    color: #231942;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #5E548E;
    padding: 20px;
    border-radius: 6px;
}